<div>
            <% if @questions %>
        <% @questions.each do |question| %>
        
        <p><%= question.text %></p>
        <ul>
      
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      
      
      </ul>
      <p>投票&結果を見る</p>
      
        <% end %>
      <% end %>
      
      
      
</div>

