<div class="inner">
        <% if @questions %>
        <% @questions.each do |question| %>

        <p class="question_btn"><a href="/questions/<%= question.id %>"><%= question.text %><br>戦国武将は？</a></p>
        <% end %>

      <% end %>

<p><a href="/">一番最初のページに戻る</a></p>

</div>
