<div class ="contents row">
      <ul class="index_list">

<% @samurais.each do |samurai| %>

      <li>
            <a href="/samurais/<%= samurai.id %>">
            <img src="<%= samurai.portrait.url(:medium) %>" alt="">
            <span><%= simple_format(samurai.name) %></span>
            </a>

    </li>

<% end %>

</ul>








<div>
      <h1>親友にしたい武将ランキング</h1>
      <ul>
      
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      
      
      </ul>
      <p>投票&結果を見る</p>
</div>


<div>
      <h1>上司にしたい武将ランキング</h1>
      <ul>
      
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      <li>
      <span>１位</span>
      <p>名前</p>
      <p>画像</p>
      </li>
      
      
      </ul>
      <p>投票&結果を見る</p>
</div>

</div>