<div class ="contents row">
      <ul class="index_list">

<% @samurais.each do |samurai| %>

      <li>
            <a href="/samurais/<%= samurai.id %>">
            <img src="<%= samurai.portrait.url(:medium) %>" alt="">
            <span><%= simple_format(samurai.name) %></span>
            </a>

    </li>

<% end %>

</ul>




<%= render partial: "questions/question" %>

</div>