form input {

}

section.question{
  clear: both;
  overflow: hidden;
}

.question_btn{
  font-family: "rii";
    float:left;
    width:48%;
    background-image: image-url("img_fire.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color:#B40404;
    padding:0.7rem 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 4.7vw;
    text-align:center;
    letter-spacing: 0.04rem;
    line-height: 1.1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #847a77;

  }

.question_btn a{
    color:#FBEFF2;
    text-decoration:none;
}

section.question .question_btn:last-child {
  background: #351c05;


 a{
  // line-height: 1.08rem;
  // padding-bottom: 0.15rem;
  // background: image-url("line_dott_white.png") bottom;
  // background-repeat: repeat-x;
}
}

.question_btn:nth-child(2n){
  margin-left: 0.6rem;
}
.inner{
  width: 95%;
  text-align: center;
  background-color:rgba(255,255,255,0.7);
  padding-bottom: 0.8rem;
  h2{
    display: inline-block;
    padding: 0 0.2rem 0.3rem 0.2rem;
    margin-top: 0.8rem;
    font-size: 5.5vw;
    letter-spacing: normal;
  	font-family: "rii";
    font-weight: normal;
    background: image-url("line_dott.png") bottom;
    background-repeat: repeat-x;
  }
  form{
    margin: 1rem 1rem 0.5rem 1rem;
    font-size: 5vw;
    line-height: 2;
    overflow: hidden;
    label{
      display: block;
      width: 100%;
      input {margin-right:0.4rem;}
    }
  }
  .btn{
    margin: 0 1rem;
    a{
      display: block;
    font-family: "rii";
    color: #fff;
    background-color: none;
    width: 100%;
    border: 0.2rem solid #351c05;
    border-radius:0.5rem;
    letter-spacing: 0.1rem;
    font-size: 5vw;
    padding:0.4rem 0;
    // padding: 0.02rem 0.02rem 0.03rem 0.02rem;
      color: #351c05;
    }
  }
}
