form input {

}

.question_btn{
    float:left;
    width:45%;
    background-color:#B40404;
    margin-left:1em;
    padding:1em;
    text-align:center;
}

.question_btn a{
    color:#FBEFF2;
    text-decoration:none;
}

.question_btn a span{
    display:block;
}